html, body{
    height: 100%
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    outline: none;
}
 
.btn i:hover {
    color: aqua;
}

.container{
    display: flex;
    flex-flow: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.pomodoro{
    background-image: url('./images/5ea6276c74a70.png');
    background-repeat: no-repeat;
    width: 700px;
    min-height: 700px;
    background-size: cover;

}

.session-input, .break-input{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.inputs{
    display: flex;
    flex-flow: row;
}

.input-session, .input-break{
    display: flex;
    flex-flow: row;
}